body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu {

    margin: 10px;
    margin-top: 20px;

    :link {
        border: solid 1px gray;
        color: black;
        font-weight: bold;
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 25px;
        padding: 10px;

    }

    :link:hover {
        background-color: lightgreen;
    }
}

.titulo {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}

.conteudo 
{
    padding:25px;
}

.form-control {
    margin: 10px;
    & label {
        display: block;
        font-weight: bolder;
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 5px;
    }

    & input {
        border: solid 1px lightgreen;
        font-size: 15px;
        height: 30px;
        padding: 5px;
        width: 100%;
    }

    & textarea {
        border: solid 1px lightgreen;
        font-size: 15px;
        padding: 5px;
        width: 100%;
    }
}

input[type="submit"] {
    color: green;
    font-size: large;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    border: solid 3px lightgreen    ;
}