body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 12px;
}

a {
    color: black;
}

a:visited {
    background-color: black;
}

.menu {

    background-color: lightgray;
    padding:25px;

    :link {
        font-weight: bolder;
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px;
        color: black;
    }

    :link:hover {
        text-decoration: underline;
    }
    
}

.titulo {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}

.conteudo 
{
    padding:25px;
}

.form-control {
    margin: 10px;
    & label {
        display: block;
        font-weight: bolder;
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 5px;
    }

    & input {
        border-radius: 10px;
        border: dotted 1px gray;
        font-size: 15px;
        height: 30px;
        padding: 5px;
        width: 100%;
    }

    & textarea {
        border-radius: 10px;
        border: dotted 1px gray;
        font-size: 15px;
        padding: 5px;
        width: 100%;
    }
}

input[type="submit"] {
    border-radius: 10px;
    color: black;
    font-size: large;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    border: dotted 1px lightgray;
}